section#banner
    .wrapper
        .wrapper_two
            header
                p#logo SuperMegaAwesome
                nav
                    a(href="#") Home
                    a(href="#") Portfolio
                    a(href="#") Services
                    a(href="#").button.secundary.button_small Get in touch

            .content
                h1.title We create beautifull products.
                h2.sub_title Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text awesome. 

                .button-wrapper
                    a(href="#").button.button_highlight Learn More
                    a(href="#").button.secundary Play Video