section#footer
    .wrapper
        h3.title Get in touch
        p Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.
        a(href="#").button.button_highlight Contact us
        
.footer
    p 
        | &copy;2016 
        span Aleksandar Picuric
        |  /SuperMegaAwesom