section#past_work
    .wrapper
        h2.title Our Work
        img(src="../assets/img/logos.png").logos
        
        ul#slider_button
            a(href="#")
                li.current
            a(href="#")
                li
            a(href="#")
                li
        
        ul#slider
            li.slides
                img(src="../assets/img/046---Wordpress-Redesign.png")
            li.slides
                img(src="../assets/img/AmazonRe.png")
            li.slides
                img(src="../assets/img/NetflixRe.jpg")
        