section#work.cf
    .wrapper
        .service
            h3 Branding
            p Truffatu Diy keffiyeh, twee messanger bag venmo locavore organic selvage.
            a(href="#").button.button_highlight.button_small Learn More
            
        .service.middle
            h3 UI/UX Design
            p Truffatu Diy keffiyeh, twee messanger bag venmo locavore organic selvage.
            a(href="#").button.button_highlight.button_small Learn More
            
        .service
            h3 Development
            p Truffatu Diy keffiyeh, twee messanger bag venmo locavore organic selvage.
            a(href="#").button.button_highlight.button_small Learn More

    